

/* ==========================================================================
   Author's custom styles
   ========================================================================== */






   html,
   body,
   .view {
       height: 100%;
   }
   
   .view {
       background: url("flag.jpg")no-repeat center center fixed;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
   }










